networks:
  csm-network:
    name: csm-network
    external: true


volumes:
  csm-postgres-vol:
    name: csm-postgres-vol


x-common-attrs: &common-attrs
  env_file: backend/.env
  networks:
    - csm-network


services:
  csm-frontend-dev:
    image: node:22.13.0-alpine
    container_name: csm-fe-dev
    restart: always
    ports:
      - 15173:15173
      - 16006:6006
    volumes:
      - type: bind
        source: ./frontend/
        target: /frontend/
    working_dir: /frontend
    networks:
      - csm-network
    command: [
      "npm",
      "run",
      "dev"
    ]
  csm-backend-dev:
    << : *common-attrs
    build: backend
    image: csm-backend
    container_name: csm-backend
    ports:
      - 8000:8000
    develop:
      watch:
        - action: sync
          path: ./backend/
          target: /backend/
    volumes:
      - type: bind
        source: ./backend/
        target: /backend/
      - type: bind
        source: ./logs/
        target: /var/logs/csm/
      - type: bind
        source: ./backend/csm.sh
        target: /etc/profile.d/csm.sh
    depends_on:
      csm-postgres-db-dev:
        condition: service_healthy
    command: [
      "pipenv", "run", "uvicorn", "src.main:app",
      "--host", "0.0.0.0",
      "--reload",
      "--log-level", "debug",
      "--log-config", "logs.ini"
    ]
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8000/device/health/check/"]
      timeout: 5s
      retries: 5
  virtual-clients:
    << : *common-attrs
    build: backend
    image: csm-backend
    container_name: virtual-clients
    volumes:
      - type: bind
        source: ./backend/
        target: /backend/
    command: [
      "pipenv",
      "run",
      "uvicorn",
      "src.virtual_client:virtual_clients",
      "--port=8001"
    ]
    depends_on:
      csm-postgres-db-dev:
        condition: service_healthy
      csm-backend-dev:
        condition: service_healthy
  csm-postgres-db-dev:
    << : *common-attrs
    image: postgres:12.18-bullseye
    container_name: csm-postgres-db-dev
    ports:
      - 15432:5432
    volumes:
      - csm-postgres-vol:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
