networks:
  csm-network:
    name: csm-network
    external: true


volumes:
  csm-postgres-vol:
    name: csm-postgres-vol


x-common-attrs: &common-attrs
  env_file: backend/.env
  networks:
    - csm-network


services:
  csm-frontend-dev:
    image: node:22.13.0-alpine
    container_name: csm-fe-dev
    restart: always
    ports:
      - 15173:15173
      - 16006:6006
    volumes:
      - type: bind
        source: ./frontend/
        target: /frontend/
    working_dir: /frontend
    networks:
      - csm-network
    command: [
      "npm",
      "run",
      "dev"
    ]
  csm-ws-service:
    << : *common-attrs
    build: ./ws-service/
    image: csm-ws-service:latest
    container_name: csm-ws-service
    ports:
      - 8050:8050
    volumes:
      - type: bind
        source: ./ws-service/
        target: /ws-service/
      - type: bind
        source: ./logs
        target  : /var/logs/ws-service/
    working_dir: /ws-service/
    command: [
      "uvicorn", "src.main:app", "--reload",
      "--host", "0.0.0.0",
      "--port", "8050",
      "--log-level", "debug",
      "--log-config", "logs.ini"
    ]
    restart: always
    develop:
      watch:
        - action: sync
          path: ./ws-service/
          target: /ws-service/
    env_file: .env.development
  csm-backend-dev:
    << : *common-attrs
    build: backend
    image: csm-backend
    container_name: csm-backend
    ports:
      - 8000:8000
    develop:
      watch:
        - action: sync
          path: ./backend/
          target: /backend/
    volumes:
      - type: bind
        source: ./backend/
        target: /backend/
      - type: bind
        source: ./logs/
        target: /var/logs/csm/
      - type: bind
        source: ./backend/csm.sh
        target: /etc/profile.d/csm.sh
    depends_on:
      csm-postgres-db-dev:
        condition: service_healthy
      csm-ws-service:
        condition: service_started
    command: [
      "pipenv", "run",
      "uvicorn", "src.main:app",
      "--port", "8000",
      "--workers", "1",
      "--host", "0.0.0.0",
      "--reload",
      "--log-level", "debug",
      "--log-config", "logs.ini"
    ]
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8000/device/health/check/"]
      timeout: 5s
      retries: 5
  virtual-clients:
    << : *common-attrs
    build: backend
    image: csm-backend
    container_name: virtual-clients
    volumes:
      - type: bind
        source: ./backend/
        target: /backend/
    command: [
      "pipenv", "run", "uvicorn",
      "src.virtual_client:virtual_clients",
      "--port=8001",
      "--workers", "1",
      "--log-level", "debug",
      "--log-config", "logs.ini"
    ]
    depends_on:
      csm-postgres-db-dev:
        condition: service_healthy
      csm-backend-dev:
        condition: service_healthy
      csm-ws-service:
        condition: service_started
  csm-postgres-db-dev:
    << : *common-attrs
    image: postgres:12.18-bullseye
    container_name: csm-postgres-db-dev
    ports:
      - 15432:5432
    volumes:
      - csm-postgres-vol:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
